openapi: 3.0.1
info:
  title: StackHawk Api Authentication Global Configuration API
  description: The StackHawk Public API provides programmatic access to the StackHawk application and API security testing platform. Manage applications, environments, scan configurations, scan results, findings, repositories, teams, policies, and security reports. Authentication requires obtaining a JWT token via the /api/v1/auth/login endpoint using an API key from the StackHawk platform settings.
  version: 0.0.1
  contact:
    url: https://www.stackhawk.com/
    email: support@stackhawk.com
  termsOfService: https://www.stackhawk.com/terms/
servers:
- url: https://api.stackhawk.com
  description: StackHawk API
security:
- BearerAuth: []
tags:
- name: Global Configuration
  description: Organization-level configurations
paths:
  /api/v1/global-configuration/{configName}:
    get:
      operationId: getGlobalConfiguration
      summary: Get Global Configuration
      description: Retrieve an organization-level global configuration by name.
      tags:
      - Global Configuration
      parameters:
      - name: configName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Global configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalConfiguration'
components:
  schemas:
    GlobalConfiguration:
      type: object
      properties:
        name:
          type: string
        value:
          type: object
          additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained via /api/v1/auth/login
