openapi: 3.0.1
info:
  title: StackHawk Api Authentication Profile Scans API
  description: The StackHawk Public API provides programmatic access to the StackHawk application and API security testing platform. Manage applications, environments, scan configurations, scan results, findings, repositories, teams, policies, and security reports. Authentication requires obtaining a JWT token via the /api/v1/auth/login endpoint using an API key from the StackHawk platform settings.
  version: 0.0.1
  contact:
    url: https://www.stackhawk.com/
    email: support@stackhawk.com
  termsOfService: https://www.stackhawk.com/terms/
servers:
- url: https://api.stackhawk.com
  description: StackHawk API
security:
- BearerAuth: []
tags:
- name: Profile Scans
  description: Profile scan analysis
paths:
  /api/v1/app/{appId}/env/{envId}/profile:
    get:
      operationId: getProfileScan
      summary: Get Profile Scan Results
      description: Get profile scan results for an application environment.
      tags:
      - Profile Scans
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      - name: envId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Profile scan results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileScanResult'
    post:
      operationId: requestProfileAnalysis
      summary: Request Profile Analysis
      description: Request a new profile analysis for an application environment.
      tags:
      - Profile Scans
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      - name: envId
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Profile analysis requested
components:
  schemas:
    ProfileScanResult:
      type: object
      properties:
        profileId:
          type: string
        appId:
          type: string
        envId:
          type: string
        discoveredEndpoints:
          type: integer
        analyzedAt:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained via /api/v1/auth/login
